# Supabase configuration
SUPABASE_URL=https://pswwltjjkasoyqggjphw.supabase.co
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBzd3dsdGpqa2Fzb3lxZ2dqcGh3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQzNjM5MTksImV4cCI6MjA1OTkzOTkxOX0.OjXP_GywhwV8ulDclJUTCPdGl2RnrcQ6LagiEmMfADc"

# Application settings
DEFAULT_EXCEL_PATH=path_to_excel_file.xlsx 